p,
span {
    color: black;
}

.cardColContainer {
    margin: 0;
    padding: 5px;
    display: flex;
    justify-content: left;
    flex-direction: column;
    background: #edc0bf;
    background: linear-gradient(90deg, #edc0bf 0, #c4caef 58%);

}

.cardContainer {
    /* border: 1px solid whitesmoke; */
    margin: 2px;
    padding: 2px 16px;
    background: rgba(255, 255, 255, .7);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    transition: 0.3s;
    border-radius: 5px;
    width: 25%;
    position: relative;
    /* border: 2px solid darkgrey; */
}

.cardContainer:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}


.cardTitle {
    margin: 2px;
    padding: 2px 16px;
    display: block;
    background-color: rgb(126, 190, 201);
    border-radius: 50px 50px 50px 0px;
}

.surveyMsgBody {
    margin: 2px;
    padding: 2px 16px;
    background-color: rgb(126, 190, 201);
    border-radius: 50px 0px 0px 50px;
    text-align: right;
}

.surveySentOn {
    text-align: center;
}


.surveySentTimestamp {
    margin: 2px;
    padding: 2px 16px;
    background-color: rgb(229, 167, 33);
    border-radius: 0px 0px 0px 50px;
    /* display: flex; */
}

.surveyCard {
    margin: 2px;
    padding: 2px 16px;
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, .3);
}

.cardContent {
    background-color: rgb(126, 190, 201);
    border: 1px solid lightblue;
    margin: 2px;
    padding: 2px 16px;
    border-radius: 50px 0px 0px 0px;

}

.surveyResults {
    margin: 2px;
    padding: 2px 16px;
    text-align: center;
}

.yesContainer {
    border-radius: 50px 50px 50px 50px;
    background-color: rgb(229, 167, 33);
    text-align: center;
    margin: 10px;
    padding: 4px 32px;
    display: block;
}

.yesTxt {
    margin: 5px 5px;
    padding: 5px 5px;
    color: green;
}

.yesResults {
    /* margin: 5px 5px;
    padding: 5px 5px; */
    color: green;
}

.noContainer {
    border-radius: 50px 50px 50px 50px;
    background-color: rgb(229, 167, 33);
    text-align: center;
    margin: 10px;
    padding: 4px 32px;
    display: block;
}

.noTxt {
    margin: 5px 5px;
    padding: 5px 5px;
    color: red;
}

.noResults {
    /* margin: 5px 5px;
    padding: 5px 5px; */
    color: red;
}