.mobileBtn {
height: 20px;
width: 20px;
border-radius: 4px;
font-size: 20px;
font-weight: 500;
left: 0px;
display: flex;
margin: 0;
padding: 15px;
position: absolute;
box-sizing: content-box;
}

.mobileDrawer {
align-items: center;
box-sizing: border-box;
bottom: 0;
display: flex;
font-size: 15px;
}