@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Press+Start+2P&display=swap');


.addCrdBtn {
    font-size: 1.25rem;
    font:inherit;
    color: lightgreen;
    cursor: pointer;
    border: 2px solid lightgreen;
    background: none;
    line-height: 1;
    margin: .5rem;
    padding: .5rem 1rem;
}

  


  