@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Press+Start+2P&display=swap');


.addCrdBtn {
    /* padding: 7.5px 16px; */
font-family: 'Kanit', sans-serif;
    font-size: 1rem;
    color: gold;
    text-align: center;
    text-decoration: none;
    display: grid;
    cursor: pointer;
    border: none;
    background-color: transparent;

}

  


  